__pycache__/

#ignores compiled Python files like .pyc
*.py[cod] 

#ignores local virtual environments
.venv/ 
venv/

.env

#react dependencies live here, and this folder can be huge
node_modules/  
dist/ #frontend production build output
build/

#os junk files
.DS_Store 
Thumbs.db